<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/register" method="POST">
        <label for="">
            <p>Email:</p>
            <input type="text"  id="" place="email" name="email">
        </label>
        
        <label for="">
            <p>Password:</p>
            <input type="text" name="password" id="" place="password">
        </label>

        <label for="">
            <p>Re Password:</p>
            <input type="text" name="repassword" id="" place="repassword">
        </label>
        <button type="submit">Register</button>
    </form>
    <h1 style="color: red;"><%= error_messages %></h1>
</body>
</html>